.footer {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1.6rem;
    .social {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo-full {
        max-height: 100px;
        max-width: 100%;
        margin-bottom: 1.6rem;
      }
      .social-list {
        display: flex;
        gap: 8px;
        justify-content: center;
        flex-wrap: wrap;
        a {
          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
    .contact {
      padding: 1.6rem 0.5rem;
      width: 100%;
      h2 {
        margin: 1.6rem 0;
        color: #fff200;
        font-weight: 700;
        font-size: 1.8rem;
        text-transform: uppercase;
      }
      h3 {
        margin-bottom: 0.8rem;
        font-size: 1.8rem;
        color: #fff;
        font-weight: 600;
        line-height: 1.5;
      }
      ul {
        margin: 1.6rem 0 0 0;
        display: flex;
        gap: 0.8rem;
        flex-direction: column;
        li {
          display: flex;
          gap: 0.5rem;
          i {
            min-width: 25px;
            text-align: center;
            font-size: x-large;
            color: var(--color-primary);
            vertical-align: middle;
          }
          p {
            font-size: 1.4rem;
            color: #fff;
            line-height: 1.5;
          }
        }
      }
    }
    .info {
      padding: 0 0.5rem 1.6rem 0.5rem;
      width: 100%;
      h2 {
        margin: 1.6rem 0;
        color: #fff200;
        font-weight: 700;
        font-size: 1.8rem;
        text-transform: uppercase;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        li {
          a {
            color: #fff;
            font-size: 1.6rem;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .copy-right {
    width: 100%;
    height: 4rem;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    p {
      margin: auto;
      text-align: center;
      font-size: 1.6rem;
      color: #000;
    }
  }
  .message-fixed {
    position: fixed;
    bottom: 2.7rem;
    right: 1.22rem;
    z-index: 99;
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    background-color: #0a7cff;
    display: flex;
    border-radius: 50%;
    a {
      margin: auto;
      i {
        color: #fff;
        z-index: 100;
        font-size: xx-large;
        transform: translateY(0px);
      }
    }
  }
}

.hotline-phone-ring-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
}
.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility 0.5s;
  left: 0;
  bottom: 0;
  display: block;
}
.hotline-phone-ring-circle {
  width: 85px;
  height: 85px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
  width: 55px;
  height: 55px;
  top: 25px;
  left: 25px;
  position: absolute;
  background-color: rgba(230, 8, 8, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
  background-color: #e60808;
  width: 33px;
  height: 33px;
  top: 37px;
  left: 37px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
  width: 20px;
  height: 20px;
}
.hotline-bar {
  position: absolute;
  background: rgba(230, 8, 8, 0.75);
  height: 40px;
  width: 180px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  /* width: 175px !important; */
  left: 33px;
  bottom: 37px;
}
.hotline-bar > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: Arial;
}
.hotline-bar > a:hover,
.hotline-bar > a:active {
  color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@media (max-width: 768px) {
  .hotline-bar {
    display: none;
  }
}

//Tablet
@media screen and (min-width: 576px) {
  .footer {
    .footer__inner {
      margin: 2rem;
      align-items: flex-start;
      .social {
        width: 16.666667% !important;
        padding-right: 1rem;
      }
      .contact {
        width: 58.333333% !important;
        padding: 0 1rem;
      }
      .info {
        width: 25% !important;
        padding-left: 1rem;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
